body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #333;
    width: 100%;
    margin: 0;
    padding: 0;

}

a:link {
    text-decoration: none;
    color: #8A5509;
}

a:visited {
    text-decoration: none;
    color: #666666;
}

a:hover {
    text-decoration: none;
    color: #ff0000;
}

a:active {
    text-decoration: none;
}

td, th {
    padding: 5px;
}

.adminbod {
    height: 100%;
    width: 100%;
    display: block;
}

.code {
    width: 60px;
}

header {
    height: 50px;
    line-height: 50px;
    background: #000;
    color: #9d9d9d;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

h2 {
    margin: 0;
    padding: 0;
}

.headh {
    float: left;
}

.headright {
    float: right;
    width: 300px;
    color: #fff;
}

.headright a {
    color: #fff;
    margin: 0 5px;
}

.admleft {
    width: 200px;
    background: #2e6da4;
    color: #fff;
    height: 100%;
    position: fixed;
    left: 0;
    top: 50px;
}

.admleftshow {

}

.admleftshow ul {
    margin: 0;
    padding: 20px 0 0 0;
    list-style: none;

}

.admleftshow ul li {
    height: 30px;
    line-height: 30px;
    list-style: none;
    border-bottom: 1px solid #CCFF99;
    padding: 0 0 0 20px;
}

.admleftshow ul a {
    color: #fff;
}

.admleftshow ul a li:hover {
    height: 30px;
    width: 200px;
    background: #fff;
    color: #2e6da4;

}

.admright {
    float: left;
    background: #fff;
    overflow: hidden;
    margin: 0 0 0 10px;
    display: block;
    position: absolute;
}

.main {
    padding: 50px 20px 50px 200px;
    display: block;
}

.main h3 {
    margin: 30px 0 10px 30px;
    font-size: 14px;
    color: #000;
    border-bottom: 1px solid #bbb;
    height: 25px;
}

.updatepwd {
    margin: 30px 0 0 50px;
}

.updatepwd ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.updatepwd ul li {
    list-style: none;
    height: 30px;
    padding: 0;
    margin: 0;
}

.msg {
    color: red;
    font-size: 12px;
}

.columnlist {
    padding: 0 20px;
}

.columnlist ul {
    list-style: none;
}

.columnlist ul li {
    list-style: none;
    height: 25px;
    line-height: 25px;
    margin: 10px 0;
    padding: 0 10px;
    border-bottom: 1px dashed #999;
}

.columnlist ul li a {
    float: left;
    margin: 0 6px;
}

.columnlist ul li span {
    float: right;
}

.mainlist {
    padding: 10px 30px;
    display: block;
}

.infoadd {
    padding: 10px 30px;
}

table.gridtable {
    font-family: verdana, arial, sans-serif;
    font-size: 11px;
    color: #333333;
    border-width: 1px;
    border-color: #efefef;
    border-collapse: collapse;
    width: 860px;
}

table.gridtable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #efefef;
    background-color: #ffffff;
}

.infoadd .input {
    width: 300px;
}

#img_url {
    max-width: 100px;
    max-height: 100px;
}

.pages {
    clear: both;
    width: 600px;
    margin: 10px 0;
    padding: 0 20px;
}

.pages ul {
    clear: both;
}

.pages a {
    padding: 0 5px;
}

.pages .prev {
    margin: 0 5px;
}

.pages .num {
    margin: 0 5px;
}

.pages .next {
    margin: 0 5px;
}

.pagination {

}

.pages .pagination li {
    float: left;
    border: none;
    list-style:none;
}
